<div>
<<<<<<< HEAD11
  <h1>Seja bem vindo</h1>
=======
  <%= link_to "Cadastrar usuário", users_path %>
  <br>
  <%= link_to "Tipos usuário", type_users_path %>
>>>>>>> cc9e2bb8e55fcaa04006d3371aa999aa717483d1
</div>